body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
}

.face {
    height: 400px;
    width: 400px;
    background-color: yellowgreen;
    border-radius: 50%;
    position: relative; 
}

.eye.left, .eye.right {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100px; 
}

.eye.left {
    left: 100px;
}

.eye.right {
    left: 250px; 
}

.mouth {
    height: 75px;
    width: 200px;
    background-color: brown;
    border-radius: 0px 0px 100px 100px; 
    position: absolute;
    top: 230px;
    left: 100px;
}